<footer style="padding: 2rem 0; text-align: center; background: #f4f4f4">
  <p>&copy; {{ site.time | date: "%Y" }} Nguyen Phuc Ngoc Thanh</p>

  <div class="social-links" style="margin-top: 0.5rem">
    <!-- Gmail -->
    <a
      href="mailto:ngocthanhxs2@gmail.com"
      target="_blank"
      title="Gmail"
      style="margin: 0 10px; color: #d14836"
    >
      <i class="fa-solid fa-envelope fa-xl"></i>
    </a>

    <!-- Facebook -->
    <a
      href="https://www.facebook.com/NguyenPhucNgocThanh03.01.99/"
      target="_blank"
      title="Facebook"
      style="margin: 0 10px; color: #1877f2"
    >
      <i class="fa-brands fa-facebook fa-xl"></i>
    </a>

    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/thanhnpn/"
      target="_blank"
      title="LinkedIn"
      style="margin: 0 10px; color: #0077b5"
    >
      <i class="fa-brands fa-linkedin fa-xl"></i>
    </a>

    <!-- GitHub -->
    <a
      href="https://github.com/npngocthanh99"
      target="_blank"
      title="GitHub"
      style="margin: 0 10px; color: #333"
    >
      <i class="fa-brands fa-github fa-xl"></i>
    </a>
  </div>
</footer>
