<header class="site-header">
  <nav class="nav-left">
    <a href="{{ '/' | relative_url }}">Trang chủ</a>
    <a href="{{ '/posts/' | relative_url }}">Bài viết</a>
    <a href="{{ '/about/' | relative_url }}">Giới thiệu</a>
  </nav>

  <div class="nav-right">
    <i class="fa-solid fa-user"></i>
    <span>Nguyễn Phúc Ngọc Thành</span>
    <button
      id="toggle-theme"
      style="background: none; border: none; cursor: pointer; color: white"
      title="Chuyển nền"
    >
      🌓
    </button>
  </div>
</header>
