<ul
  class="social-media-list"
  style="display: flex; gap: 12px; justify-content: center; padding-left: 0"
>
  {% for entry in site.minima.social_links %}
  <li style="list-style: none">
    <a
      href="{{ entry.url }}"
      target="_blank"
      title="{{ entry.title }}"
      style="text-decoration: none; color: inherit"
    >
      <i
        class="
            {% if entry.icon == 'envelope' %}
              fa-solid
            {% else %}
              fa-brands
            {% endif %}
            fa-{{ entry.icon }} fa-xl"
      ></i>
    </a>
  </li>
  {% endfor %}
</ul>
