<ul class="social-media-list">
  {%- for entry in site.minima.social_links -%}
  <li>
    <a
      rel="me"
      href="{{ entry.url }}"
      target="_blank"
      title="{{ entry.title }}"
    >
      <span class="fa-brands fa-{{ entry.icon }}"></span>
    </a>
  </li>
  {%- endfor -%}

  <!-- LinkedIn cá nhân -->
  <li>
    <a
      href="https://www.linkedin.com/in/thanhnpn/"
      target="_blank"
      title="Kết nối với tôi trên LinkedIn"
    >
      <span class="fa-brands fa-linkedin"></span>
    </a>
  </li>
</ul>
